.Chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  background-color: #056370;
  /* width: 100px; */
  margin: 0px 30px 5px 10px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;

}

.card{
  width: auto;
  min-height: auto;
  background: rgb(242, 243, 240);
  padding: 15px;
}

.card button{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.chat-room-name {
  margin: 0px;
}

.chat-room-last-seen {
  margin: 0;
}

.Chat_header {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border-bottom: 1px solid lightgray;
  justify-content: space-around;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */


}

.next_quetion{
  /* font-size: 16px; */
  color: #056370;
  background-color: #fff;
  border: hidden;
  display: flex;
  margin: 0px 15px 10px 15px;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.Chat_header::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat_headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat_headerInfo > p {
  color: gray;
}

.chat_headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  overflow-x: scroll;
}

.Chat_body {
  flex: 1;
  padding: 30px;
  overflow: scroll;
  /* background: url('../images/welcome_background.jpg') center center/cover no-repeat; */
}
.Chat_body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.Chat_message {
  position: relative;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 1rem;
}

.Chat_name {
  position: absolute;
  top: -3px;
  font-weight: 800;
  font-size: xx-small;
}

.Chat_timestemp {
  margin-left: 10px;
  font-size: xx-small;
}

.Chat_receiver {
  margin-left: auto;
  background-color: #ffffff;
}

.Chat_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  color: rgb(0, 0, 0);
  border: none;
}

.Chat_footer > form {
  flex: 1;
  display: flex;
}

.Chat_footer > form > input {
  outline: none;
  flex: 1;
  border-radius: 20px;
  border: 3px solid #fff;
  width: 90%;
  padding: 10px;
  color: #fff;
  margin: 0 10px 0px 10px;
  background-color: #056370;
}

.Chat_footer > form > button {
  display: none;
}

@media (max-width: 459px) {
  .Chat {
  margin: 0px 10px 5px 10px;
  }
}
@media (max-width: 900px) {
  .Chat {
    max-height: 60%;
    flex: auto;
  margin: 0px 10px 5px 10px;
  }
}