
.hero-container {
  /* background: url('../images/loginBackground.png') bottom center/cover no-repeat; */
  background-color: #FFE5F3;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  object-fit: contain;
}
.welcome-text{
  max-width: 480px;
  text-align: center;
  color: #022C33;
  margin: 30px 0px 30px 0px;
  
}

.welcome-text-paragraph{
  font-size: 28px;
}

.lets-play-text{
  font-size: 500px;
  color: #022C33;
}


.hero{
  background-color: #056370;
  margin: 30px;
  border-radius: 50px;
  flex: 0.65; 
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.hero h2{
  color: #fff;
  text-align: center;
  max-width: 50%;
}
.couple{
  margin-top: 50px;
}

.hero-container > h1 {
  color: #111;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #022C33;
  font-size: 68px;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
