.body {
  display: grid;
  place-items: center;
  /* background-color: #dadbd3; */
  background-color: #FFE5F3;
  height: 100vh;
}
.app_body {
  display: flex;
  justify-content: space-between;
  /* background-color: #fff; */
  background-color: #FFE5F3;
  height: 85vh;
  width: 100%;
  margin-top: 0px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}
@media (max-width: 459px) {
  .app_body {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .app_body {
    flex-direction: column;
  }
}