.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: none;
    color: #111;
    opacity:1;
}

.sidebarChat:hover{
    background-color: #80C578;

}

.add-new-chat-title {
    /* width: 10%; */
    font-size: 16px;
    color: #111;
    background-color: #fff;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }

.sidebarChat_info > h2{
    font-size: 16px;
    margin: 0px;
}

.sidebarChat_info > p{
    margin: 0px;
}

.sidebarChat_info{
    margin-left: 15px;
}

.add-new-chat-title{
    margin: 0px 0px 0px 10px;
}

a {
    text-decoration: none;
    color: black;
}